{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/shop_responsive.css">
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    function submit(e) {
        e.preventDefault()
    }
    function clickedProduct(id_dm, id_sp, id_user) {
        alert(id_dm + ' ' + id_sp + ' ' + id_user);
    }
</script>
{{/section}}
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class=" sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            {{#each lcCategories}}
                            <li class="slidebar_item " style="padding-right: 35px;"><a
                                    {{#if isActive}}style="color: blue;" {{/if}}
                                    href="/categories/{{id_dm}}/products">{{ten_dm}}
                                    {{#if num_of_products}}
                                    <span class="badge badge-danger float-right">{{num_of_products}}</span>
                                    {{/if}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <div class="row">

                    {{#each products}}
                    <!-- Product Item -->
                    <div class="col-sm-3 mb-3">
                        <div class="card product_card h-100">
                            <div class="bids-number">
                                {{#if num_of_bids}}
                                <div class="bids-number-inner">{{num_of_bids}} bids</div>
                                {{else}}
                                <div class="bids-number-inner">0 bid</div>
                                {{/if}}
                                <img src="/imgs/sp/{{id_dm}}/{{id_sp}}/thumb.jpg" class="card-img" alt="{{ten_sp}}">
                            </div>
                            <div class="card-body" style="padding: 2px;">
                                <h5 class="card-title">{{ten_sp}}</h5>

                                <div class="curr-bid">
                                    {{#if highest}}
                                    <div><span style="color: gray;">Hiện tại:
                                        </span><span class="bid-price">{{format highest}} đ</span></div>
                                    {{else}}
                                    <div><span style="color: gray;">Hiện tại:
                                        </span><span class="bid-price">{{format gia_khoi_diem}} đ</span></div>
                                    {{/if}}
                                </div>

                                <div class="curr-bid">
                                    {{#if gia_mua_ngay}}
                                    <div><span style="color: gray;">Mua ngay:
                                        </span><span style="color: green;">{{format gia_mua_ngay}} đ</span></div>
                                    {{else}}
                                    <div><span style="color: gray;">Mua ngay:
                                        </span><span style="color: green;">None</span></div>
                                    {{/if}}
                                </div>

                                <div class="open-day">
                                    <span style="color: gray;">Ngày đăng:
                                    </span>{{moment tg_dang "DD-MM-YYYY"}}
                                </div>

                                <div class="close-timer">
                                    <span style="color: gray;">Kết thúc trong: </span>
                                    <span>{{relativeTime tg_het_han}} nữa</span>
                                </div>

                                <div class="text-center mt-2">
                                    <a href="/categories/{{id_dm}}/products/{{id_sp}}"
                                        class="btn btn-sm btn-primary btn-viewdetail w-100" role="button"><i
                                            class="fa fa-eye" aria-hidden=" true"></i>&nbsp;Chi Tiết</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{/each}}

                </div>

                <!-- Shop Page Navigation -->

                <div class="shop_page_nav d-flex flex-row">
                    <div class="page_prev d-flex flex-column align-items-center justify-content-center">
                        <i class="fas fa-chevron-left"></i></div>
                    <ul class="page_nav d-flex flex-row">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">21</a></li>
                    </ul>
                    <div class="page_next d-flex flex-column align-items-center justify-content-center">
                        <i class="fas fa-chevron-right"></i></div>
                </div>

            </div>

        </div>
    </div>
</div>