<!-- Single Product -->
<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li class="clickedImg" data-image="images/single_4.jpg"><img src="images/single_4.jpg" alt=""></li>
                    <li data-image="images/single_2.jpg"><img src="images/single_2.jpg" alt=""></li>
                    <li data-image="images/single_3.jpg"><img src="images/single_3.jpg" alt=""></li>
                    <li data-image="images/single_1.jpg"><img src="images/single_1.jpg" alt=""></li>
                </ul>
            </div>

            <!-- Selected Image -->
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="image_selected"><img src="images/single_4.jpg" alt=""></div>
            </div>

            <!-- Description -->
            <div class="col-lg-5 order-3">
                <div class="product_description">
                    <div class="product_category">{{this.catName.ten_dm}}</div>
                    <div class="product_name ">{{this.proInfo.ten_sp}}</div>
                    <div class="product_price" style="margin-top: 30px;">
                        <i class="fas fa-money-bill-alt" style="color:blue;"></i> Giá Hiện Tại:
                        {{#if this.currentPrice}}
                        <span>{{format this.currentPrice}} đ</span>
                        {{else}}
                        <span>{{format this.proInfo.gia_khoi_diem}} đ</span>
                        {{/if}}
                    </div>
                    {{#if this.proInfo.gia_mua_ngay}}
                    <div class="product_price">
                        <i class="fas fa-cart-plus" style="color:#28A745;"></i> Giá Mua Ngay:
                        <span style="color:#28A745;">{{format this.proInfo.gia_mua_ngay}} đ</span>
                    </div>
                    {{/if}}
                    <div class="mt-3"> Người bán: <span style="color: blue;">{{this.seller}} (94 điểm)</span>
                    </div>
                    {{#if this.highestBidder}}
                    <div> Người đặt giá cao nhất hiện tại: <span style="color: blue;">{{this.highestBidder}} (89
                            điểm)</span></div>
                    {{/if}}
                    <div class="mt-3">Thời điểm đăng: <span
                            style="color: blue;">{{moment this.proInfo.tg_dang "dddd, MMMM Do YYYY, h:mm a"}}</span>
                    </div>
                    <div class="mb-3">Thời điểm kết thúc: <span style="color: blue;">3 ngày nữa</span></div>

                    <a href="#">Xem lịch sử đấu giá</a>
                    {{!-- <div class="product_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum. laoreet turpis,
                            nec sollicitudin dolor cursus at. Maecenas aliquet, dolor a faucibus efficitur, nisi tellus
                            cursus urna, eget dictum lacus turpis.</p>
                    </div> --}}
                    <div class="mt-5">
                        <input class="form-control" style="width: 150px; float: left; text-align: center;" type="number" step="{{proInfo.buoc_gia}}" min="{{rcmPrice}}" value="{{rcmPrice}}"
                            onKeyDown="return false">
                        <a class="btn btn-outline-primary" href="#" role="button">
                            <i class="fa fa-money-bill-alt" aria-hidden="true"></i>
                            Đấu Giá
                        </a>
                        {{#if this.proInfo.gia_mua_ngay}}
                        <a class="btn btn-outline-success" href="#" role="button">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Mua Ngay
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{!-- Mô tả chi tiết sản phẩm --}}
        <h3 style="margin-top: 50px; font-weight: bold;">MÔ TẢ CHI TIẾT SẢN PHẨM</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>
        <div>
            <p> ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum
                perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
        </div>
        <h3 style="margin-top: 50px; font-weight: bold;">THÔNG TIN NGƯỜI BÁN</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>
        <div>
            <p>ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum
                perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
        </div>
    </div>
</div>

<!-- 5 sản phẩm cùng danh mục -->
<div class="characteristics" style="padding-top: 0px;">
    <div class="container">
        <h3 style="font-weight: bold;">CÁC SẢN PHẨM LIÊN QUAN</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>

        <ul class="top5container list-inline" style="text-align: center">
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/laptop_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartphone_1.png" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartphone_2.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartwatch_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/ipad_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
        </ul>
    </div>
</div>