{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/prd_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
{{/section}}

{{#section 'js'}}
<script src="/js/product_custom.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script> //che một phần tên (masked-name)
    var token = document.getElementById("maskedSeller").textContent.split(" ");
    document.getElementById("maskedSeller").innerHTML = "****" + token[token.length - 1];

    token = document.getElementById("maskedBidder").textContent.split(" ");
    document.getElementById("maskedBidder").innerHTML = "****" + token[token.length - 1];
</script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script>
    var images = $('.image_list li');
    var selected = $('.image_selected img');

    images.each(function () {
        var image = $(this);
        image.on('click', function () {
            var imagePath = new String(image.data('image'));
            var res = imagePath.replace('_thumb', '');
            selected.attr('src', res);
        });
    });
</script>

<script type="text/javascript">
    $('#form').on('submit', function (e) {
        e.preventDefault();
        var price = $('#bid_price').val();
        price = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        swal({
            title: "Xác Nhận",
            text: "Bạn có chắc muốn đặt giá: " + price + "vnđ",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: false,
            confirmButtonText: "Có",
            cancelButtonText: "Huỷ"
        }, function () {
            $('#form').unbind('submit').submit();
        });
    });
</script>

{{/section}}


<!-- Single Product -->
<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg"
                        data-target="#carouselIndicators" data-slide-to="0" class="active">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg"
                        data-target="#carouselIndicators" data-slide-to="2">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg"
                        data-target="#carouselIndicators" data-slide-to="3">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg"
                        data-target="#carouselIndicators" data-slide-to="1">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg" alt="">
                    </li>
                </ul>
            </div>

            <!-- SlideShow -->
            <div id="carouselIndicators" class="carousel slide col-lg-5 order-lg-2 order-1" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg"
                            alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Description -->
            <div class="col-lg-5 order-3">
                <div class="product_description">
                    <div class="product_category">{{this.catName.ten_dm}}</div>
                    <div class="product_name ">{{this.proInfo.ten_sp}}</div>
                    {{#if this.currentPrice}}
                    <div class="product_price">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Hiện Tại:
                        <span style="color:#28A745;">{{format this.currentPrice}} đ</span>
                    </div>
                    {{else}}
                    <div class="product_price">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Hiện Tại:
                        <span style="color:#28A745;">{{format this.proInfo.gia_khoi_diem}} đ</span>
                    </div>
                    {{/if}}
                    {{#if this.proInfo.gia_mua_ngay}}
                    <div class="product_price" style="margin-top: 10px;">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Mua Ngay:
                        <span style="color:#28A745;">{{format this.proInfo.gia_mua_ngay}} đ</span>
                    </div>
                    {{else}}
                    <div class="product_price" style="text-decoration: line-through; margin-top: 10px;">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i>Giá Mua Ngay
                    </div>
                    {{/if}}
                    <div class="mt-3"> Người bán:
                        <span id="maskedSeller" style="color: blue;">{{this.seller}}</span>
                        <span style="color: blue;">(94 điểm)</span>
                    </div>
                    {{#if this.highestBidder}}
                    <div> Người đặt giá cao nhất hiện tại:
                        <span id="maskedBidder" style="color: blue;">{{this.highestBidder}}</span>
                        <span style="color: blue;">(89 điểm)</span>
                    </div>
                    {{/if}}
                    <div>Thời điểm đăng: <span
                            style="color: blue;">{{moment this.proInfo.tg_dang "dddd, MMMM Do YYYY, h:mm a"}}</span>
                    </div>
                    <div class="mb-1">Thời điểm kết thúc: <span style="color: blue;">3 ngày nữa</span></div>

                    <a href="#">Xem lịch sử đấu giá</a>


                    <div class="mt-2">
                        <form action="/favorite/add/{{proInfo.id_dm}}/{{proInfo.id_sp}}" method="POST">
                            {{#if inFavList}}
                            <button class="btn btn-sm btn-light" type="submit" disabled><i class="far fa-heart fa-2x"
                                    style="color: #f20c77;"></i></button>
                            <span> Sản phẩm có trong danh sách yêu thích của bạn</span>
                            {{else}}
                            <button class="btn btn-sm btn-light" type="submit"><i
                                    class="far fa-heart fa-2x"></i></button>
                            <span> Thêm vào danh sách yêu thích</span>
                            {{/if}}
                        </form>
                    </div>


                    <div class="button_container mt-3">
                        <form action="/bid/place/{{proInfo.id_dm}}/{{proInfo.id_sp}}" id="form" method="POST">
                            <input class="form-control" name="gia_tien" id="bid_price"
                                style="width: 150px; float: left; text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                                type="number" step="{{proInfo.buoc_gia}}" min="{{rcmPrice}}" value="{{rcmPrice}}"
                                onKeyDown="return false">
                            <button id="btn-submit" class="btn btn-outline-primary" role="button" type="submit"
                                style=" border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                                <i class="fa fa-money-bill-alt" aria-hidden="true"></i>
                                Ra Giá
                            </button>
                            <span>(Bước giá: {{format proInfo.buoc_gia}} đ)</span>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {{!-- Mô tả chi tiết sản phẩm --}}
        <h3 style="margin-top: 50px; font-weight: bold;">MÔ TẢ CHI TIẾT SẢN PHẨM</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>
        <div>
            {{{proInfo.mo_ta}}}
        </div>
        <h3 style="margin-top: 50px; font-weight: bold;">THÔNG TIN NGƯỜI BÁN</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>
        <div>
            <p>ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum
                perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perspiciatis nihil odio modi
                consectetur, excepturi repellendus laboriosam et laborum id, illum impedit dolores quia ipsam suscipit
                temporibus assumenda accusantium eligendi?</p>
        </div>
    </div>
</div>

<!-- 5 sản phẩm cùng danh mục -->
<div class="characteristics" style="padding-top: 0px;">
    <div class="container">
        <h3 style="font-weight: bold;">CÁC SẢN PHẨM LIÊN QUAN</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>

        <ul class="top5container list-inline" style="text-align: center">
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/laptop_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartphone_1.png" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartphone_2.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/smartwatch_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="product.html">
                    <div class="card product_card">
                        <div class="bids-number">
                            <div class="bids-number-inner">100 bids</div>
                            <img src="images/ipad_1.jpg" class="card-img" alt="images/best_2.png">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">HP Spectre Folio 13</h5>

                            <div class="curr-bid">
                                <div>Current Bid: <span class="bid-price">2000<i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <div class="highest-bidder">
                                    Bidder1337
                                </div>
                            </div>

                            <div class="open-day">
                                <small><span style="color: gray;">Open Day: </span>November 20</small>
                            </div>

                            <div class="close-timer">
                                <small><span style="color: gray;">Close in: </span>3 <span>Days</span></small>
                            </div>

                            <a href="product.html" class="btn btn-primary btn-viewdetail">View Detail</a>
                        </div>
                </a>
            </li>
        </ul>
        </d1