{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/prd_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
{{/section}}

{{#section 'js'}}
<script src="/js/product_custom.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script>
    var images = $('.image_list li');
    var selected = $('.image_selected img');
    images.each(function () {
        var image = $(this);
        image.on('click', function () {
            var imagePath = new String(image.data('image'));
            var res = imagePath.replace('_thumb', '');
            selected.attr('src', res);
        });
    });
</script>

<script type="text/javascript">
    $('#form').on('submit', function (e) {
        e.preventDefault();
        var price = $('#bid_price').val();
        price = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        swal({
            title: "Xác Nhận",
            text: "Bạn có chắc muốn đặt giá: " + price + "vnđ",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: false,
            confirmButtonText: "Có",
            cancelButtonText: "Huỷ"
        }, function () {
            $('#form').unbind('submit').submit();
        });
    });
</script>
<script src="https://cdn.tiny.cloud/1/y5mq9cxhnrazibmar3is1h9fk4jgcqogpct32s2r0wa3t7za/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
{{!-- <script>tinymce.init({ selector: 'textarea' });</script> --}}
<script>
    tinymce.init({
        selector: 'textarea',
        height: 600,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor',
            'table link image media',
        ],
    });
</script>
<script> //che một phần tên (masked-name)
    var _length = document.getElementsByClassName("masked").length;
    for (i = 0; i < _length; i++) {
        var _name = document.getElementsByClassName("masked")[i];
        var token = _name.textContent.split(" ");
        _name.innerHTML = "****" + token[token.length - 1];
        _name.style.display = "inline-block"
    }
</script>
{{/section}}


<!-- Single Product -->
<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg"
                        data-target="#carouselIndicators" data-slide-to="0" class="active">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg"
                        data-target="#carouselIndicators" data-slide-to="2">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg"
                        data-target="#carouselIndicators" data-slide-to="3">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg" alt="">
                    </li>
                    <li data-image="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg"
                        data-target="#carouselIndicators" data-slide-to="1">
                        <img src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg" alt="">
                    </li>
                </ul>
            </div>

            <!-- SlideShow -->
            <div id="carouselIndicators" class="carousel slide col-lg-5 order-lg-2 order-1" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/1.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/2.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/3.jpg"
                            alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/sp/{{this.proInfo.id_dm}}/{{this.proInfo.id_sp}}/4.jpg"
                            alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Description -->
            <div class="col-lg-5 order-3">
                <div class="product_description">
                    <div class="product_category">{{this.catName.ten_dm}}</div>
                    <div class="product_name ">{{this.proInfo.ten_sp}}</div>
                    {{#if this.currentPrice}}
                    <div class="product_price">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Hiện Tại:
                        <span style="color:#28A745;">{{format this.currentPrice}} đ</span>
                    </div>
                    {{else}}
                    <div class="product_price">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Hiện Tại:
                        <span style="color:#28A745;">{{format this.proInfo.gia_khoi_diem}} đ</span>
                    </div>
                    {{/if}}
                    {{#if this.proInfo.gia_mua_ngay}}
                    <div class="product_price" style="margin-top: 10px;">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i> Giá Mua Ngay:
                        <span style="color:#28A745;">{{format this.proInfo.gia_mua_ngay}} đ</span>
                    </div>
                    {{else}}
                    <div class="product_price" style="text-decoration: line-through; margin-top: 10px;">
                        <i class="fas fa-cart-plus" style="color: #5c5656;"></i>Giá Mua Ngay
                    </div>
                    {{/if}}
                    {{#if isUserProd}}
                    <div class="mt-3"> Bạn là người bán </div>
                    {{else}}
                    <div class="mt-3"> Người bán:
                        <span class="masked" style="color: blue; display: none;">{{this.seller}}</span>
                        <span style="color: blue;">(94 điểm)</span>
                    </div>
                    {{/if}}
                    {{#if this.highestBidder}}
                    <div> Người đặt giá cao nhất hiện tại:
                        {{#if isHighestBidder}}
                        <span style="color: blue; ">Bạn đang giữ giá</span>
                        {{else}}
                        <span class="masked" style="color: blue; display: none;">{{this.highestBidder}}</span>
                        <span style="color: blue;">(89 điểm)</span>
                        {{/if}}
                    </div>
                    {{/if}}
                    <div>Thời điểm đăng: <span
                            style="color: blue;">{{moment this.proInfo.tg_dang "dddd, MMMM Do YYYY, h:mm a"}}</span>
                    </div>
                    <div class="mb-1">Thời điểm kết thúc: <span style="color: blue;">3 ngày nữa</span></div>

                    <!-- Link trigger modal -->
                    <a href="" data-toggle="modal" data-target="#exampleModalCenter">Xem lịch sử đấu giá</a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Lịch sử đấu giá</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Thời điểm</th>
                                                <th scope="col">Người mua</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col">Tùy chọn</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listBidder">
                                            {{#if isUserProd}}
                                            {{#each historyRows}}
                                            <tr>
                                                <td>{{index}}</td>
                                                <td>{{moment thoi_diem 'h:mm:ss, dddd, Do MMMM - YYYY'}}</td>
                                                <td class="masked" style="display: none;">{{ho_ten}}</td>
                                                <td>{{so_tien}}</td>
                                                <td>
                                                    <form
                                                        action="/categories/{{id_dm}}/products/{{id_sp}}/rejectBidder/{{bidder}}"
                                                        method="POST">
                                                        <button type="submit" class="btn btn-sm-danger btn-delete"
                                                            style="color: red;"><i class="far fa-times-circle"></i> Từ
                                                            Chối</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            {{#each historyRows}}
                                            <tr>
                                                <td>{{index}}</td>
                                                <td>{{moment thoi_diem 'h:mm:ss, dddd, Do MMMM - YYYY'}}</td>
                                                <td class="masked" style="display: none;">{{ho_ten}}</td>
                                                <td>{{so_tien}}</td>
                                                <td></td>
                                            </tr>
                                            {{/each}}
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <form action="/favorite/add/{{proInfo.id_dm}}/{{proInfo.id_sp}}" method="POST">
                            {{#if inFavList}}
                            <button class="btn btn-sm btn-light" type="submit" disabled><i class="far fa-heart fa-2x"
                                    style="color: #f20c77;"></i></button>
                            <span> Sản phẩm có trong danh sách yêu thích của bạn</span>
                            {{else}}
                            <button class="btn btn-sm btn-light" type="submit"><i
                                    class="far fa-heart fa-2x"></i></button>
                            <span> Thêm vào danh sách yêu thích</span>
                            {{/if}}
                        </form>
                    </div>


                    {{#if rejectedUser}}
                    <div style="color: red; margin-top: 15px; font-size: 30;">Xin lỗi! Seller đã từ chối quyền tham gia
                        đấu giá của bạn</div>
                    {{else}}
                    <div class="button_container mt-3">
                        <form action="/bid/place/{{proInfo.id_dm}}/{{proInfo.id_sp}}" id="form" method="POST">
                            <input class="form-control" name="gia_tien" id="bid_price"
                                style="width: 150px; float: left; text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                                type="number" step="{{proInfo.buoc_gia}}" min="{{rcmPrice}}" value="{{rcmPrice}}"
                                onKeyDown="return false">
                            <button id="btn-submit" class="btn btn-outline-primary" role="button" type="submit"
                                style=" border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                                <i class="fa fa-money-bill-alt" aria-hidden="true"></i>
                                Ra Giá
                            </button>
                            <span>(Bước giá: {{format proInfo.buoc_gia}} đ)</span>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{!-- Mô tả chi tiết sản phẩm --}}
        <h3 style="margin-top: 50px; font-weight: bold;">MÔ TẢ CHI TIẾT SẢN PHẨM</h3>
        <div class="tabs_line" style="margin-top: 0px;"></div>
        <div>
            {{#if isUserProd}}
            <form action="/categories/{{proInfo.id_dm}}/sp/{{proInfo.id_sp}}/updateDes" method="POST">
                <div class="form-group row">
                    <div class="col-12">
                        <textarea name="mo_ta" id="mo_ta" class="form-control here" type="text" cols="30" rows="10"
                            value="{{{proInfo.mo_ta}}}"></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col text-center">
                        <button class="btn btn-success" type="submit">Cập
                            Nhật</button>
                    </div>

                </div>
            </form>
            {{else}}
            {{{proInfo.mo_ta}}}
            {{/if}}
        </div>
    </div>
</div>

<!-- 5 sản phẩm cùng danh mục -->
<div class="characteristics" style="padding-top: 0px;">
    <div class="container">
        <h3 style="font-weight: bold;">CÁC SẢN PHẨM LIÊN QUAN</h3>
        <div class="row">

            {{#each relatedProducts}}
            <!-- Product Item -->
            <div class="col-sm-2 mb-3 mr-4 mt-3">
                <div class="card product_card h-100">
                    <div class="bids-number">
                        {{#if num_of_bids}}
                        <div class="bids-number-inner">{{num_of_bids}} bids</div>
                        {{else}}
                        <div class="bids-number-inner">0 bid</div>
                        {{/if}}
                        <img src="/imgs/sp/{{id_dm}}/{{id_sp}}/1.jpg" class="card-img" alt="{{ten_sp}}">
                    </div>
                    <div class="card-body" style="padding: 2px;">
                        <h5 class="card-title">{{ten_sp}}</h5>

                        <div class="curr-bid">
                            {{#if so_tien}}
                            <div><span style="color: gray;">Hiện tại:
                                </span><span class="bid-price">{{format so_tien}} đ</span></div>
                            {{else}}
                            <div><span style="color: gray;">Hiện tại:
                                </span><span class="bid-price">{{format gia_khoi_diem}} đ</span></div>
                            {{/if}}
                        </div>

                        <div class="curr-bid">
                            {{#if gia_mua_ngay}}
                            <div><span style="color: gray;">Mua ngay:
                                </span><span style="color: green;">{{format gia_mua_ngay}} đ</span></div>
                            {{else}}
                            <div><span style="color: gray;">Mua ngay:
                                </span><span style="color: green;">None</span></div>
                            {{/if}}
                        </div>

                        <div class="open-day">
                            <span style="color: gray;">Ngày đăng:
                            </span>{{moment tg_dang "DD-MM-YYYY"}}
                        </div>
                        {{#if het_han}}
                        <div class="close-timer">
                            <span style="color: red;">Sản phẩm đã hết hạn</span>

                        </div>
                        {{else}}
                        <div class="close-timer">
                            <span style="color: gray;">Kết thúc trong: </span>
                            <span>{{relativeTime tg_het_han}} nữa</span>
                        </div>
                        {{/if}}
                        <div class="text-center mt-2">
                            <a href="/categories/{{id_dm}}/products/{{id_sp}}"
                                class="btn btn-sm btn-primary btn-viewdetail w-100" role="button"><i class="fa fa-eye"
                                    aria-hidden=" true"></i>&nbsp;Chi Tiết</a>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>