<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/account/profile" class="list-group-item list-group-item-action">Thông tin cá nhân</a>
                <a href="/account/changeInfo" class="list-group-item list-group-item-action">Đổi mật khẩu</a>
                <a href="/account/reviews" class="list-group-item list-group-item-action active">Điểm &amp; Đánh giá</a>
                <a href="/account/upgrade" class="list-group-item list-group-item-action">Nâng cấp tài khoản</a>
                <a href="#" class="list-group-item list-group-item-action">Dealer</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Số Điểm: <span style="color: green;">{{so_diem}}</span></h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Người đánh giá</th>
                                        <th scope="col">Nhận xét</th>
                                        <th scope="col">Đánh giá tốt</th>
                                        <th scope="col">Vào lúc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.reviews}}
                                    <tr>
                                        <th scope="row">{{nguoi_danh_gia}}</th>
                                        <td>{{nhan_xet}}</td>
                                        <td>{{formatPlus danh_gia}}</td>
                                        <td>{{moment thoi_diem 'h:mm:ss, dddd, Do MMMM - YYYY '}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>